<?xml version="1.0" encoding="utf-8"?>
<manifest

    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.androidjoke">

    <application>
        <activity
            android:name=".AndroidActivity"
            android:label="Android Library">

            <intent-filter>
                <action android:name="com.example.android.androidjoke.AndroidActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
    </application>

</manifest>